* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #fff;
}
header {
  background-color: #fff;
  width: 1480px;
  height: 200px;
}

.logo {
  width: 40%;
  height: 40%;
  flex-shrink: 0;
  margin-left: 30px;
}
.banner{
  width: 1480px;
  height: 70%;
  flex-shrink: 0;
}

.card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin:40px;
  height:580;
  width:360;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container1 {
  padding: 2px 16px;
}

.imagemcarro1 {
  border-radius: 5px 5px 0 0;
}

.uno{
  margin-left: 90px;
  width:360px;
}

.fiat{
  width: px;
  height: 328px;
  
}
.pa{
  font-size:xx-large;
  margin-left: 127px;
}
.canto{
  margin-left:47px;
  font-size:87px;
}
.lupa{
  margin-left:320px;
}
.produtos{
  margin-bottom:80px;
}
.logo2{
  width: 324px;
  height: 251px;
  flex-shrink: 0;
}
.rds{
  width: 50%;
  height: 50%;
  flex-shrink: 0;
}
.rodape{
  font-size:29px;
  margin-right:100px;
  margin-left:30px
}